mixin sociallinks()
  // Inspired by ro-ka.github.io
  section.social
    ul.social
      li
        a.icon-twitter(href='https://twitter.com/#!/chrplace', target='_blank')
          span.icon-twitter @chrplace (Twitter)
      li
        a.icon-linkedin(href='https://dk.linkedin.com/in/christianplace/', target='_blank')
          span.icon-linkedin Me at LinkedIn
      li
        a.icon-github(href='https://github.com/chrplace', target='_blank')
          span.icon-github My github page
      li
        a.icon-twister(href='http://twister.net.co', target='_blank')
          span.icon-twister @place on twister (P2P Microblogging)
